nav {
    background-color: #343a40;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    
    color: rgb(155, 143, 255);
}

img#photo_menu {
    width: 45px;
    border-radius: 100%;
    background-color: aliceblue;
    border: 2px solid rgb(155, 143, 255);
}

img#lupa {
    width: 35px;
}
img#logocam {
    width: 50px;
}
img#chat {
    width: 35px;
}
img#home {
    width: 35px;
}