<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link id="favicon" rel="icon" type="image/png" href="../img/favicon-256x256.png">
    <link rel="stylesheet" href="./styles/index.css">
    
</head>
<body>
    <div class="form_container">
        <div class="form_logo">
            <!-- <h1>SHOOT IT</h1> -->
            <img id="logo" src="../img/logo-sinfondo.png">
        </div>
        <div>
            <form action="">
                <input placeholder="Correo electrónico" type="text">
                <input placeholder="Nombre" type="text">
                <input placeholder="Nombre de usuario" type="text">
                <input placeholder="Contraseña" type="password">
                <input placeholder="Confirma contraseña" type="password">
                <button type="submit">Regístrate</button>
            </form>
        </div>
        <div id="separador"></div>
        <div class="registro">
            ¿Ya tienes una cuenta? <a href="./index.html">Inicia sesión</a> 
        </div>
    </div>
</body>
</html>